.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;

    /* conteudo sempre centralizado */
    margin: 0 auto;

    /* Um item ao lado do outro */
    display: flex;

    /* Verticalmente alinhado */
    align-items: center;

    /* Espaço entre os elementos */
    justify-content: space-between;
}

.logon-container section.form form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

/* Por ser utilizado em 2 regiões ele foi transferido para o global.css e agora é a classe .back-link 

    .logon-container section.form form a{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

/* Todo react Icon é svg */

/*.logon-container section.form form a svg {
    margin-right: 8px;
}

.logon-container section.form form a:hover {
    opacity: 0.8;
} */

